In [3]:
print("hello mhommed shahaan")
#hello world program

hello mhommed shahaan

In [1]:
a = 5;
b = 10;
c = a + b;
print(c)

15

In [3]:
x = "ali"
y = "mughal";
z = x + y;
print(z);

alimughal

In [4]:
f = "4";
g = "8";
h = f+g;
print(h);

48

In [72]:
a = "10";
b = 20;
c = a + b;
print(c);

TypeError: can only concatenate str (not "int") to str

In [7]:
x = 8;
y = x + 7;
z = y - x + 1;
print(z);

8

In [77]:
a = 12 - 4 / 2 + 9 * 5;     
print(a);

55.0

In [78]:
a =(( 12 - 4) / (2 + 9)* 5);
print(a);

3.6363636363636367

In [13]:
x = 10;
y = x%3;
print(y);

1

In [14]:
f = 10;
f = 12;
print(f);

12

In [15]:
g = 5
g = g + 2;
print(g)

7

In [16]:
a = 3;
a+=3;
print(a);

6

In [17]:
a = 3;
a = a+ 3;
print(a);

6

In [18]:
a = "Muhammad Ali Mughal"
print("my name is " + a)

my name is Muhammad Ali Mughal

In [21]:
gender = "male"
if gender == "male":
   print("allow for ride");

allow for ride

In [26]:
gender = "female"
if gender == "male":
   print("allow for ride");
else: 
     print("Rokh lo");

Rokh lo

In [28]:
gender = "female"
if gender != "male":
    print("allow for ride");
else: 
     print("Rokh lo");

allow for ride

In [29]:
age = 14;
gender = "female";
if age > 18 or gender =='male':
    print("allow for ride");
else:
    print("rok lo");

rok lo

In [30]:
age = 14;
gender = "female";
if age > 10 or gender =='male':
    print("allow for ride");
else:
    print("rok lo");

allow for ride

In [31]:
percent = 67;
if percent < 100 and percent > 80:
    print("grade A");
else:
    print("fail")

fail

In [34]:
percent = 82;
if percent < 100 and percent > 80:
    print("grade A");
elif percent < 80 and percent > 70:
    print("grade A")
else:
    print("fail")

grade A

In [65]:
percentage=32                                                     
if percentage <=100 and percentage >=90:
  print("grade A+")
elif percentage < 90 and percentage >=80:
  print("grade A")
elif percentage <80 and percentage >=70:
  print("grade B")
elif percentage < 70 and percentage >=60:
 print("garde C")
elif percentage < 60 and percentage >=50:
  print("garde D")
elif percentage < 50 and percentage >=33:
  print("garde E")
elif percentage < 0 :
  print("Enter Accurate Value")
elif percentage > 100 :
  print("Enter Accurate Value")
else :
  print("grade:F")

grade:F

In [1]:
english=80
math=100
islamiat=90
total=english+math+islamiat
percentage=total/300*100   
print(percentage)
if percentage <=100 and percentage >=90:
  print("grade A+")
elif percentage < 90 and percentage >=80:
  print("grade A")
elif percentage <80 and percentage >=70:
  print("grade B")
elif percentage < 70 and percentage >=60:
 print("garde C")
elif percentage < 60 and percentage >=50:
  print("garde D")
elif percentage < 50 and percentage >=33:
  print("garde E")
elif percentage < 0 :
  print("Enter Accurate Value")
elif percentage > 100 :
  print("Enter Accurate Value")
else :
  print("grade:F")

90.0
grade A+

In [3]:
eng = input("Enter english marks");
isl =  input("Enter islamiat marks");
maths =input("Enter math marks");
total = 300
percent = (eng + isl + maths)/total*100
if percent < 100 and percent >= 80:
    print("A+");
elif percent < 80 and percent >= 70:
    print("A");
elif percent < 70 and percent >= 60:
    print("B");
elif percent < 60 and percent >= 50:
    print("C");
elif percent < 50 and percent >= 40:
    print("D");
elif percent < 40 and percent >= 33:
    print("E");
elif percent < 0 and percent > 100:
   print("you didnot write correct percent");
else:
    print("Fail")

Enter english marks75
Enter islamiat marks 65
Enter math marks 85

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [4]:
x = input("enter a value");
y = 25
z = x + y;
print(z);

enter a value 35

TypeError: can only concatenate str (not "int") to str

In [2]:
x = int(input("enter a value"));
y = 25
z = x + y;
print(z);

enter a value35
60

In [3]:
x = input("enter a value");
y = 25
z = int(x) + y;
print(z);

enter a value45
70

In [5]:
eng = int(input("Enter english marks"));
isl =  int(input("Enter islamiat marks"));
maths =int(input("Enter math marks"));
total = 300
percent = (eng + isl + maths)/total*100
if percent < 100 and percent >= 80:
    print("A+");
elif percent < 80 and percent >= 70:
    print("A");
elif percent < 70 and percent >= 60:
    print("B");
elif percent < 60 and percent >= 50:
    print("C");
elif percent < 50 and percent >= 40:
    print("D");
elif percent < 40 and percent >= 33:
    print("E");
elif percent < 0 and percent > 100:
   print("you didnot write correct percent");
else:
    print("Fail")

Enter english marks98
Enter islamiat marks92
Enter math marks100
A+

In [6]:
x = 3**2
print (x)

9

In [8]:
y = 3**4
print (y)

81

In [12]:
print("Hello\nworld")

Hello
world

In [3]:
x = 10
y = 12
a = 30
b = 8
if x + y == a-b:
    print(True)
else:
    print(False)

True

In [4]:
age = int(input("enter age"))
gender = input("enter gender")
if age > 18 and gender == "male":
    print("ALLOW")
else:
    print ("DONOT Allow")

enter age 18
enter gender male
DONOT Allow

In [9]:
age = int(input("enter age"))
gender = input("enter gender")
if age >= 18 and gender == "male":
    print("ALLOW")
else:
    print ("DONOT Allow")

enter age18
enter gendermale
ALLOW

In [10]:
age = int(input("enter age"))
gender = input("enter gender")
if age > 18 or gender == "male":
    print("ALLOW")
else:
    print ("DONOT Allow")

enter age15
enter gendermale
ALLOW

In [11]:
# learning list

arr =[112,6]
print(arr)

[112, 6]

In [15]:
"""we are learning python
learning list now"""

print("Hello Word")

Hello Word

In [27]:
name1 = "zulqi";
name2 = "rani";
name3 = "ehsan";
name4 = "samina";
name5 = "bilal";
name6 = "annad";
print(name1+","+name2+","+name3+","+name4+","+name5+","+name6)

zulqi,rani,ehsan,samina,bilal,annad

In [28]:
#list

name =["zulqi", "rani", "ehsan", "samina","bilal","annad"]
print(name)

['zulqi', 'rani', 'ehsan', 'samina', 'bilal', 'annad']

In [29]:
print(name[0])

zulqi

In [30]:
name[1]="ali"
print(name)

['zulqi', 'ali', 'ehsan', 'samina', 'bilal', 'annad']

In [31]:
name.append("ahmed")
print(name)

['zulqi', 'ali', 'ehsan', 'samina', 'bilal', 'annad', 'ahmed']

In [34]:
arr = ["lion",12,"true",5.69]
print(arr)

['lion', 12, 'true', 5.69]

In [35]:
name

['zulqi', 'ali', 'ehsan', 'samina', 'bilal', 'annad', 'ahmed']

In [36]:
newlist = name + arr
print(newlist)

['zulqi', 'ali', 'ehsan', 'samina', 'bilal', 'annad', 'ahmed', 'lion', 12, 'true', 5.69]

In [2]:
name

NameError: name 'name' is not defined

In [6]:
name = name.insert(3,"rashid")
print(name)

NameError: name 'name' is not defined

In [ ]:
name

In [29]:
print(name)

NameError: name 'name' is not defined

name

arr = ["lion",12,"true",5.69]
print(arr)

In [16]:
arr.insert(2,"raza")
print(arr)

['lion', 12, 'raza', 'true', 5.69]

In [24]:
arr2 = arr[2:4]
print(arr2)

['raza', 'true']

In [20]:
arr

['lion', 12, 'raza', 'true', 5.69]

In [21]:
arr2

['raza', 'true']

In [25]:
arr3 = arr[2:5]
print(arr2)

['raza', 'true']

In [26]:
arr3 = arr[2:5]
print(arr3)

['raza', 'true', 5.69]

In [28]:
arr4 = arr[:3]
print(arr4)

['lion', 12, 'raza']

In [30]:
del arr[2]
print(arr)

['lion', 12, 'true', 5.69]

In [31]:
arr.remove(12)
print(arr)

['lion', 'true', 5.69]

In [32]:
arr.pop()
print(arr)

['lion', 'true']

In [34]:
# ASSIGNMENT 3 STARTED
# Write a Python program to print the following string in a specific format (see the output).
# Twinkle, twinkle, little star,
#        How I wonder what you are!
#                Up above the world so high,
#                Like a diamond in the sky.
# Twinkle, twinkle, little star,
#         How I wonder what you are
secondLine="How I wonder what you are!"
print("Twinkle, twinkle, little star,")
print("","","","","","","","How I wonder what you are!")
print("","","","","","","","","","","","","",""," Up above the world so high,")
print("","","","","","","","","","","","","",""," Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("","","","","","","","How I wonder what you are!")

Twinkle, twinkle, little star,
       How I wonder what you are!
               Up above the world so high,
               Like a diamond in the sky.
Twinkle, twinkle, little star,
       How I wonder what you are!

In [35]:
#Write a Python program to get the Python version you are using

from platform import python_version
print(python_version())

3.8.8

In [36]:
# Write a Python program to display the current date and time.
from datetime import datetime
now = datetime.now()
print (now)

2021-10-31 13:05:31.013768

In [ ]:
#Write a Python program which accepts the radius of a circle 
#from the user and computer the area.

In [11]:
# 5. Write a Python program which accepts the user's first and las
# t name and print them in reverse order with a space between them.
firstName= input("Write Your First Name : ")
lastName= input("Write Your Last Name : ")
arr=[firstName , lastName]
arr.reverse()
print(arr)

Write Your First Name : shahaan
Write Your Last Name : shahzad
['shahzad', 'shahaan']

In [12]:
# Write a python program which takes two inputs from user and 
#print them addition
firstNum=int(input("Enter First Number "))
lastNum=int(input("Enter First Number "))
total=firstNum+lastNum
print(total)

Enter First Number 12
Enter First Number 12
24

In [41]:
# Write a program which takes 5 inputs from user for different 
# subject’s marks, total it and generate mark sheet using grades ?
name =input("enter their name ")
computer=int(input("enter your computer marks from 100:"))
math=int(input("enter your math marks from 100:"))
physics=int(input("enter your physics marks from 100:"))
addmath=int(input("enter your addmath marks from 100:"))
islamiat=int(input("enter your islamiat marks from 100:"))
total=computer+islamiat+math+physics+addmath
print("student:",name)
print("computer:",computer)
print("math:",math)
print("physics:",physics)
print("addmath:",addmath)
print("islamiat:",islamiat)
print("totalmarks:",total)
percentage=total/500*100
print("your percentage is :",percentage)
if percentage>=90:
  print("Grade:A*")
elif percentage>=80:
  print("grade:A")
elif percentage>=70:
   print("grade:B")
elif percentage>=60:
   print("grade:C")
elif percentage>=50:
   print("grade:D")
elif percentage>=40:
   print("grade:E")
else :
   print("grade:Fail")

enter their name shahaan
enter your computer marks from 100:100
enter your math marks from 100:100
enter your physics marks from 100:80
enter your addmath marks from 100:100
enter your islamiat marks from 100:90
student: shahaan
computer: 100
math: 100
physics: 80
addmath: 100
islamiat: 90
totalmarks: 470
your percentage is : 94.0
Grade:A*

In [42]:
# Write a program which take input from user and identify that 
#the given number is even or odd?
number=int(input("Enter Any Number : "))
mod=number%2
if mod>0 :
 print("Number is Odd");
else:
  print("Number is even");

Enter Any Number : 13
Number is Odd

In [51]:
# Write a program which print the length of the list?
arr=[1,2,3,4,"abdullah","ali","hamza","ali"]
print(len(arr))

8

In [1]:
# Write a Python program to sum all the numeric items in a  
list?

In [66]:
# Write a Python program to get the largest number from a 
#numeric list.

In [6]:
 # Take a list, say for example this one:

a = [1,1,2,3,5,8,13,21,34,55,89]

for i in a:
    if(int(i)<5):
        print(i)

1
1
2
3

In [91]:
# Assignment 3 Ended.